<h1><%= Goliath.env %> hello world!</h1>
<form action='hello_world' method='post'>
  Id:<input type='text' name='id' />
  <input type='submit' />
</form>
<form action='users' method='post'>
  first_name:<input type='text' name='first_name' />
  <input type='submit' value='Create' />
</form>
